
<div class="category">
   {{#each products as |category|}}
   <div class="me-auto container border-bottom border-light-subtle mb-2"> 
    <div class="d-flex justify-content-between">
      <span class="btn border border-secondary-subtle" style="background-color: #d4a373;color:white; margin:1%">{{@key}}</span>
     <a href="/shop/all-products?category={{@key}}" role="button" class="btn border border-secondary-subtle rounded-pill" style="background-color: #d4a373;color:white; margin:1%">View All</a></div>
    <section class="d-flex flex-wrap justify-content-center">
    {{#each category as |p|}}
   <a class="productLink" href="/shop/product/details/{{p._id}}">
   <div class="product-item">
     <div class="my-product-image">
    <img src={{p.imageUrl}}>
    </div> <br>
    <h4 class="name">Product Name:{{p.name}}</h4>
    <p class="price">Products Price:{{p.price}}</p>
    
    <div class="button-group">
    <a href="/shop/cart/add/{{p._id}}">
    <button class="add-to-cart border border-secondary-subtle">Add To Cart</button>
    </a>
    <a href="/shop/products/{{p.id}}">
    <button class=" details border border-secondary-subtle">Details</button>
    </a>
    </div>
    
 
    </div>
 </a>
 
    {{/each}}
   
     </section>

</div>
{{/each}}
</div>

