<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
<style>

    .product-item{
    background-color: whitesmoke;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 1px;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 1px;
    padding-bottom: 4%;
    padding-left: 0;
    padding-right: 1pt; 
    }
    .my-product-image{
         {{!-- width: 20%; --}}
    text-align: center;
    box-shadow: 5px 10px 10px #ccc;
    height: auto;
    }
    .buy-now{
        display: inline-block;
    padding: 10px 15px;
    margin: 10px 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 13px;
}
    
</style>
    {{>generalcss}}
</head>

<body>

    {{>navbar}}
    {{!-- <h1>Welcome to TG Shop</h1> --}}

    <div class="product-item d-flex flex-column justify-content-center align-items-center">
        <div class="my-product-image flex-shrink-0 w-20">
            <img src={{product.imageUrl}}>
        </div>
        <br>
        <h4>Product Name: {{product.name}}</h4>
        <h4>Product Price: {{product.price}}</h4>
       
        <h4>Product Description: {{product.description}}</h4>
       
    
    <a href="/shop/cart/add/{{product._id}}">
    <div>
        <button class="add-to-cart border border-secondary-subtle" style="    background: #d4a373;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}">Add To Cart</button>
    </a>
    <a href="/shop/cart/buy">
        <button class="buy-now border border-secondary-subtle" style="    background: #d4a373;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}">Buy Now</button>
    </a>
    </div>
    </div>



   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>